fastapi~=0.116.1
dishka~=1.6.0
pydantic~=2.11.7
langchain-core~=0.3.69
langchain-text-splitters~=0.3.8
python-dotenv~=1.1.1
SQLAlchemy~=2.0.41
pymupdf4llm~=0.0.27
langchain-community~=0.3.27
langchain-gigachat~=0.3.11
redis~=6.2.0
sentence-transformers~=5.0.0
pydantic-settings~=2.10.1
pytz~=2025.2
aiogram~=3.21.0
pydantic-ai~=0.7.2
pydantic-graph~=0.7.2